<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Recipes</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<!-- Container centralizado -->
<div class="centered-container">
    <h2>Search Recipes</h2>

    <form th:action="@{/search}" method="get" class="search-form">
        <input id="query" type="search" name="query" placeholder="Search for a recipe..." required />
        <button type="submit">Search</button>
    </form>

    <h2>Results:</h2>

    <div th:if="${recipes}">
        <ul>
            <li th:each="recipe : ${recipes}">
                <img th:src="${recipe.image}" width="100"/>
                <span th:text="${recipe.title}"></span>
                <form th:action="@{/save}" method="post">
                    <input type="hidden" th:name="title" th:value="${recipe.title}"/>
                    <input type="hidden" th:name="image" th:value="${recipe.image}"/>
                </form>
                <a th:href="@{'/details/' + ${recipe.id}}">Details</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
